/* components/Banner.css */

.header {
    background-color: gray;
    color: white;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header .head {
    display: flex;
}

.header .head .nomWeb {
    top: 40px;
    left: 150px;
}

.header .head .logo {
    display: flex;
    margin-bottom: 10px;
    top: 10px;
    left: 10px;
    height: 100px;
    width: auto;
}

.header .navbar {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.header .navbar .category {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header .navbar .category:hover {
    background-color: #003d80;
}

.header .navbar .prof {
    width: 70px;
    height: auto;
    border-radius: 50%;
}

.header .navbar .mp {
    background-color: gray;
    border-radius: 5px;
}